.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  background-color: white;
}
.header-apple-icon {
  width: 49px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-icons {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: rgba(245, 245, 247, 0.8);
}
.menu-icon {
  display: none;
}

.menu_icon {
  display: block;
}

.header-text-1 {
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
}
.poster-1 {
  background-image: url(./desktop-images/iphone1.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: inter;
  margin: 0;
}
.pro {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  gap: 10px;
}
.poster-1-title {
  font-size: 52px;
  font-weight: 600px;
  font-family: Inter;
  color: #f5f5f7;
  text-align: center;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.poster-1-subtitle {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.poster-1-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}
.poster-liir {
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
}
.poster-Buy {
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #2997ff solid 1px;
  margin: 0;
}
.poster2 {
  background-image: url(./desktop-images/iphonezurag2.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: inter;
  margin-bottom: 12px;
}
.ps2t {
  font-size: 52px;
  font-weight: 600px;
  font-family: Inter;
  color: #f5f5f7;
  text-align: center;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.ps2s {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding: 16px;
}
.ps2-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}
.ps2-liir {
  color: black;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgb(248, 249, 249);
  margin: 0;
}
.ps2-buy {
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #f3f5f8 solid 1px;
  margin: 0;
}
.poster3 {
  background-image: url(./desktop-images/applecolor.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ps3-1 {
  display: flex;
  justify-content: center;
  height: 60px;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
  margin-bottom: 0px;
}
.ps3-2 {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;

  font-weight: 60px;
}
.ps3-3 {
  display: flex;
  justify-content: center;

  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
  background-color: rgba(0, 113, 227, 1);
  width: 100px;
  border-radius: 30px;
  padding: 12px 22px;
}
.pro1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 58px;
  gap: 10px;
}

.picpic {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 12px;
}

.poster4 {
  background: url(./desktop-images/ipadair.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.poster {
  background: url(ipadair.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer {
  display: flex;
  gap: 16px;
}

.margin-top58 {
  margin-top: 58px;
}
.ps4-2 {
  color: white;
  display: flex;
  width: 322px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;

  font-weight: 60px;
}
.ps4-5 {
}
.poster-ma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ps4-3 {
  color: #f3f5f8;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
  font-family: Inter;
}
.ps4-4 {
  color: #2997ff;
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #2997ff solid 1px;
  margin: 0;
}
.poster5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  background: url(./desktop-images/airpodspro.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0%;
}
.pop {
  padding-bottom: 50px;
}
.ps5-1 {
  display: flex;
}
.ps5-2 {
  display: flex;
  font-size: 36px;
  width: 238px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: inter;
  font-weight: 400px;
  margin: 0%;
}
.ps5-3 {
  margin: 10px;
}
.ps5-4 {
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400px;
  line-height: 25px;
}
.footer1 {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.picpic2 {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 12px;
}

.poster6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #f5f5f7;
  background-image: url(./desktop-images/watch.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
}
.ps6-0 {
  display: flex;
  flex-direction: row;
}
.applelogo {
  width: 26px;
  height: 32px;
}
.ps6-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  color: black;
  padding-top: 50px;
}
.ps6-2 {
  text-align: center;
  font-size: 32px;
  width: 121px;
  height: 39px;
  margin: 0%;
  font-weight: 700;
}
.ps6-3 {
  color: #000;
  text-align: center;
  width: 152px;
  height: 18px;
  font-weight: 700;
  font-family: Inter;
  line-height: normal;
  letter-spacing: 2px;
}
.poster7 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  color: #f5f5f7;
  background-image: url(./desktop-images/macbook.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ps7-1 {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.ps7-2 {
  text-align: center;
  font-weight: 600;
  font-family: Inter;
  font-size: 32px;
  width: 370px;
  height: 44px;
}
.ps7-3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin: 10px;
}
.ps7-4 {
  color: #f3f5f8;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
  font-family: Inter;
}
.ps7-4 {
  olor: #2997ff;
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #2997ff solid 1px;
  margin: 0;
}
.poster8 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #f5f5f7;
  background-image: url(./desktop-images/tradein.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ps8-1 {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.ps8-2 {
  text-align: center;
  font-weight: 600;
  font-family: Inter;
  font-size: 32px;
  width: 370px;
  height: 44px;
}
.ps8-3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin: 0%;
}
.ss {
  margin: 0%;
}
.kk {
  margin: 0;
}
.ps8-4 {
  color: #f3f5f8;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
  font-family: Inter;
  .bol {
  }
}
.poster9 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #f5f5f7;
  background-image: url(./desktop-images/card.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ps9-1 {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.ps9-2 {
  text-align: center;
  font-weight: 600;
  font-family: Inter;
  font-size: 32px;
  width: 370px;
  height: 44px;
}
.ps9-3 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin: 10px;
}
.logoo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  font-size: 40px;
  padding-top: 10px;
  height: 40px;
  margin: 0;
}
.bot {
  margin: 0%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-area {
  display: flex;
  width: 100%;
  height: 668px;
  gap: 15px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-top: 15px;
  border: solid 0.5px rgba(128, 128, 128, 0);
}
.M {
  min-width: 1250px;
  height: 668px;
  scroll-snap-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.movie1 {
  background-image: url(./desktop-images/movie1.jpg);
}
.movie2 {
  background-image: url(./desktop-images/movie2.jpg);
}
.movie3 {
  background-image: url(./desktop-images/movie3.jpg);
}
.movie4 {
  background-image: url(./desktop-images/movie4.jpg);
}
.movie5 {
  background-image: url(./desktop-images/movie5.jpg);
}
.movie6 {
  background-image: url(./desktop-images/movei6.jpg);
}
.movie7 {
  background-image: url(./desktop-images/movie7.jpg);
}
.movie8 {
  background-image: url(./desktop-images/movie8.jpg);
}
.movie9 {
  background-image: url(./desktop-images/movie9.jpg);
}

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .header-bar {
    justify-content: space-between;
  }
  .Header-menus {
    display: none !important;
  }
  .menu-icon {
    display: block;
  }
  .header-text-1 {
    width: 444px;
    text-align: center;
    margin-top: 12px;
  }
  .center {
    width: 100vw;
  }
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media (min-width: 128px) and (max-width: 767px) {
  .Header-menus {
    display: none !important;
  }
}
