.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  background-color: white;
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.menu-icon {
  display: none;
}
.header-text-1 {
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
}
.poster-1 {
  background-image: url(./desktop-images/iphone1.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: inter;
  margin: 0;
}
.pro {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  gap: 10px;
}
.poster-1-title {
  font-size: 52px;
  font-weight: 600px;
  font-family: Inter;
  color: #f5f5f7;
  text-align: center;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.poster-1-subtitle {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.poster-1-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}
.poster-liir {
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
}
.poster-Buy {
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #2997ff solid 1px;
  margin: 0;
}
.poster2 {
  background-image: url(./desktop-images/iphonezurag2.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  display: flex;
  justify-content: center;

  font-family: inter;
  margin-bottom: 12px;
}
.ps2t {
  font-size: 52px;
  font-weight: 600px;
  font-family: Inter;
  color: #f5f5f7;
  text-align: center;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.ps2s {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding: 16px;
}
.ps2-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
}
.ps2-liir {
  color: black;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgb(248, 249, 249);
  margin: 0;
}
.ps2-buy {
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #f3f5f8 solid 1px;
  margin: 0;
}
.poster3 {
  background-image: url(./desktop-images/applecolor.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ps3-1 {
  display: flex;
  justify-content: center;
  height: 60px;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
  margin-bottom: 0px;
}
.ps3-2 {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;

  font-weight: 60px;
}
.ps3-3 {
  display: flex;
  justify-content: center;

  color: #fff;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
  background-color: rgba(0, 113, 227, 1);
  width: 100px;
  border-radius: 30px;
  padding: 12px 22px;
}
.pro1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 58px;
  gap: 10px;
}
.picpic {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 12px;
}
/* .poster4 {
  display: flex;
  background-image: url(./desktop-images/ipadair.jpg);
  width: 942px;
  height: 548px;
  align-items: center;
  justify-content: center;
} */
.poster4 {
  background: url(./desktop-images/ipadair.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.poster {
  background: url(ipadair.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer {
  display: flex;
  gap: 16px;
}

.margin-top58 {
  margin-top: 58px;
}
.ps4-2 {
  color: white;
  display: flex;
  width: 322px;
  height: 25px;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;

  font-weight: 60px;
}
.ps4-5 {
}
.poster-ma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ps4-3 {
  color: #f3f5f8;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 999px;
  background-color: rgba(0, 113, 227, 1);
  margin: 0;
}
.ps4-4 {
  color: #2997ff;
  text-align: center;
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: #2997ff solid 1px;
  margin: 0;
}
.poster5 {
  color: white;
  background: url(./desktop-images/airpodspro.jpg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: spa;
  align-items: center;
}
.ps5-2 {
  display: flex;
  font-size: 36px;
  width: 238px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: inter;
  font-weight: 400px;
}
.ps5-4 {
  align-items: center;
  font-family: inter;
  font-size: 18px;
  font-weight: 400px;
  line-height: 25px;
}
.footer1 {
  display: flex;
  gap: 16px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header {
    display: none !important;
  }
  .items {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media screen (min-width: 768px) {
}
