.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  background-color: white;
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.menu-icon {
  display: none;
}
.header-text-1 {
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
}
.poster-1 {
  background-image: url(./desktop-images/iphone1.jpg);
  background-position: center;
  background-size: cover;
  height: 692px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 81px;
}
.poster-1-title {
  font-size: 52px;
  font-weight: 600px;`
  color: white;
}
.poster-1-subtitle {
}

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .header {
    display: none !important;
  }
  .items {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
@media screen (min-width: 768px) {
}
