.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  margin: 0;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}
.header-apple-icon {
  width: 49px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right-icons {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
  gap: 24px;
}
.menu-icon {
  display: none;
}

.menu_icon {
  display: block;
}

.header-text-1 {
  display: flex;
  justify-content: center;
  height: 52px;
  align-items: center;
}
.blur-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 1920px;
}
.blur1 {
  fill: #019ffb;
  opacity: 0.5;
  filter: blur(10px);
  height: 75px;
  width: 500px;
}
.colors {
  width: 100%;
  height: 75px;
  background-image: url(./linearBackground.png);
}
